body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
  touch-action: none;
}

#game {
  display: block;
  width: 100vw;
  height: 100vh;
}

#start-screen {
  position: fixed;
  inset: 0;
  background: url('assets/background.jpg') center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-btn {
  font-size: 24px;
  padding: 20px 40px;
  border: none;
  border-radius: 12px;
  background: #0af;
  color: white;
  cursor: pointer;
}
#controls {
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  pointer-events: auto; /* чтобы кнопки можно было нажимать */
}

#controls button {
  font-size: 32px;
  padding: 20px 40px;
  border: none;
  border-radius: 12px;
  background: #0af;
  color: white;
  opacity: 0.7;
}
#controls button:active {
  opacity: 1;
}
